@use '../abstract/index' as a;

// Font Groups

h1, h2, h3, h4, h5, h6 {
  font-family: 'Newake', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: a.$clr-black;
}

p, a, button, ul, ol, input {
  font-family: 'Outfit', sans-serif;
  color: a.$clr-black;
}

// Individual Font Styles

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.125rem;

  @include a.breakpoint(medium) {
    font-size: 6rem;
    letter-spacing: 0.3rem;
  }
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 0.0875rem;

  @include a.breakpoint(medium) {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

h3 {
  font-size: 1.15rem;
  letter-spacing: 0.075rem;

  @include a.breakpoint(medium) {
    font-size: 1.75rem;
    letter-spacing: 0.12rem;
  }
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.025rem;

  @include a.breakpoint(medium) {
    font-size: 1.25rem;
    letter-spacing: 0.075rem;
  }
}

p, li, input {
  font-size: 1rem;
  line-height: 1.5;
  
  @include a.breakpoint(medium) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.text-highlight {
  color: a.$clr-primary-color-blue;
  font-weight: 700;
}