.latest-blog {
  grid-area: 5/2 / 5/4;
  display: grid;
  gap: 1.5rem;

  @include breakpoint(medium) {
    gap: 2rem;
  }
  
  &__view-all {
    display: grid;
    align-content: space-between;
    padding: 1.5rem;
    color: $clr-white;
    background-color: $clr-black;
    
    @include breakpoint(medium) {
      padding: 2rem 3rem;
    }
  }

  &__view-all-header {
    font-size: 1.75rem;
    color: $clr-white;

    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
  }
}

