@use '../../assets/styles/abstract' as a;

.button {
  display: block;
  width: max-content;
  padding: 0.9rem 3rem;
  cursor: pointer;
  font-size: 1.15rem;
  font-family: "Newake", sans-serif;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  border: solid 2px transparent;
  transition: 0.15s;

  &--wide {
    padding: 0.9rem 2rem;
  }
  
  &--full-width {
    width: 100%;
  }

  &--blue {
    color: $clr-white;
    background-color: $clr-primary-color-blue;
    
    &:hover {
      color: $clr-primary-color-blue;
      background-color: $clr-white;
      border: solid 2px $clr-primary-color-blue;
    }
  }

  &--black {
    color: $clr-white;
    background-color: $clr-black;

    &:hover {
      color: $clr-black;
      background-color: $clr-white;
      border: solid 2px $clr-black;
    }
  }

  &--white {
    color: $clr-black;
    background-color: $clr-white;
  }
}