@use '../../assets/styles/abstract' as a;

.button {
  display: block;
  width: max-content;
  padding: 0.9rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.15s;
  border: none;

  &--wide {
    padding: 0.9rem 2rem;
  }
  
  &--full-width {
    width: 100%;
  }

  &--blue {
    color: $clr-white;
    background-color: $clr-primary-color-blue;
  }

  &--black {
    color: $clr-white;
    background-color: $clr-black;
  }

  &--white {
    color: $clr-black;
    background-color: $clr-white;
  }
}