.text-input {
  display: grid;
  gap: 0.5rem;
  position: relative;

  &__field {
    width: 100%;
    padding: 1rem 2.5rem;
    border: 1px solid $clr-black;
    outline: none !important;
    background-color: $clr-grey;
    
    @include breakpoint(medium) {
      padding: 1.15rem 4.5rem;
    }

    &::placeholder {
      opacity: 0.6;
    }

    &:focus {
      background-color: $clr-white;
      border: 1px solid $clr-primary-color-blue;
    }
  }
  
  &__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0, -45%);
    
    @include breakpoint(medium) {
      left: 2rem;
      height: 1.5rem;
    }
  }
}