.featured-bikes {
  grid-area: 4/2 / 4/4;
  display: grid;
  gap: 1.5rem;

  @include breakpoint(medium) {
    gap: 2rem;
  }
  
  &__view-all {
    display: grid;
    align-content: space-between;
    padding: 1.5rem;
    background-color: $clr-black;

    @include breakpoint(medium) {
      padding: 2rem 3rem;
    }
  }
  
  &__view-all-header {
    font-size: 1.75rem;
    color: $clr-white;

    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
  }
}

