.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;

  &__content {
    grid-area: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 2rem 0;
  }

  &__logo {
    color: #004CAF;
    font-family: 'Newake', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    z-index: 100;
    
    @include breakpoint(large) {
      font-size: 3rem;
    }
  }
}