.faq {
  grid-area: 4/2;
  display: grid;
  gap: 2rem;
  margin-bottom: 1rem;

  &__accordian {
    display: grid;
  }

  &__question {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 2rem 2rem 0;
    border-bottom: solid 1px black;

    &-header {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }
  
  &__question-title {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    transition: 0.15s ease;
    
    @include breakpoint(medium) {
      font-size: 1.25rem;
    }

    &:hover{
      color: $clr-primary-color-blue;
    }
  }

  &__dropdown-icon {
    transition: transform 0.3s ease;

    @include breakpoint(medium) {
      height: 1.25rem;
    }
    
    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__answer {
    padding: 1rem 0 1rem 2rem;
  }
}
