.footer {
  background-color: $clr-black;
  color: white;
  padding: 3rem 0;
  
  &__container {
    grid-area: 1/2;
    display: grid;
    gap: 4rem;
  }
  
  &__content {
    display: grid;
    gap: 3rem;
  }
  
  &__main-section {
    display: grid;
    gap: 3rem;
    
    @include breakpoint(medium) {
      grid-template-columns: max-content max(60rem);
      justify-content: space-between;
    }
  }
  
  &__contact {
    display: grid;
    gap: 0.75rem;
    align-content: flex-start;
    
    & p {
      font-size: 1rem;
    }
  }
  
  &__links {
    display: grid;
    gap: 1rem;
    
    @include breakpoint(medium) {
      row-gap: 4rem;
      column-gap: 8rem;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
  }

  &__links-section {
    display: grid;
    gap: 1.5rem;
    align-content: flex-start;
  }
  
  &__link-section-header {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    
    @include breakpoint(medium) {
      font-size: 1rem;
    }
  }
  
  &__sub-links {
    display: none;
    
    @include breakpoint(medium) {
      display: grid;
      gap: 0.75rem;
    }
    
    & > * {
      font-size: 0.9rem;
      letter-spacing: 0.04375rem;
      line-height: 1.5;
    }
  }
  
  &__acknowledgement {
    font-size: 0.9rem;
    letter-spacing: 0.0375rem;
    
    @include breakpoint(medium) {
      text-align: center;
    }
  }
  
  &__socials {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 3rem;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem; 
    }

    & > a svg {
      max-height: 100%; 
      max-width: 100%;
    }
  }
}