.fullSizeHeader {
  &__links {
    display: flex;
    gap: 2rem;
    
    @include breakpoint(medium) {
      gap: 2.5rem;
    }

    @include breakpoint(x-large) {
      gap: 4rem;
    }
  }

  &__link {
    font-family: 'Newake', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;

    &:hover {
      text-decoration: underline solid $clr-black;
    }
  }
}